.back {
  width: 5.5rem;
  height: 5.5rem;
  margin-left: 5vw;
  margin-top: 5vw;
  animation: fadeIn 1s forwards;
  background-image: url(../../assets/sprite.png);
  background-position: -655px -81px;
  transform: scale(0.9);
}
.info {
  width: 90vw;
  height: 15vh;
  background-color: #A5A8D7;
  margin: 0 auto;
  margin-top: 6vh;
  border-radius: 1.5rem;
  animation: fadeIn 1s forwards;
  opacity: 0.6;
  filter: blur(2px);
  box-shadow: 0 10px 20px #000;
}
.moreInfo {
  width: 90vw;
  height: 40vh;
  background-color: #A5A8D7;
  margin: 0 auto;
  margin-top: 10vh;
  border-radius: 1.5rem;
  animation: fadeIn 1s forwards;
  opacity: 0.6;
  box-shadow: 0 10px 20px #000;
}
.logout {
  width: 30vw;
  height: 10vw;
  text-align: center;
  line-height: 10vw;
  border: #A5A8D7 solid 1px;
  border-radius: 20px;
  color: #A5A8D7;
  font-size: 1.33rem;
  margin: 5vh auto;
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
